.doctor {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.doctor-information {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, calc(20px + 6 * var(--adaptive)), 26px);
    width: 100%;
}

.doctor-photo {
    display: flex;
    justify-content: center;
    background-color: var(--violet);
    border-radius: 30px;
    overflow: hidden;
}

.photo {
    width: clamp(358px, calc(358px + 165 * var(--adaptive)), 523px);
}

.doctor-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font: clamp(20px, calc(20px + 12 * var(--adaptive)), 32px) / 1.37 "Involve-Medium";
}

.text {
    font: clamp(16px, calc(16px + 4 * var(--adaptive)), 20px) / 1.37 "Involve-Regular";
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .doctor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: none;
        width: 100%;
    }

    .doctor-photo {
        width: 70%;
        height: fit-content;
    }

    .doctor-information {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: none;
        width: 100%;
    }

    .button {
        width: 50%;
    }
}