h1 {
    font: 1.6em/1.37 "Involve-Medium";
    color: #3659E1;
}

h2 {
    font: 1.5rem/1.37 "Involve-Bold";
    text-transform: uppercase;
    color: #3659E1;
}

h3 {
    font: 1.25em/1.37 "Involve-Medium";
    color: #3659E1;
}

button {
    background-color: #3556D7;
    color: #FFFFFF;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    font-family: "Involve-Regular";
    color: #0A031A;
}

header {
    height: calc(100vw*65/390);
    background-color: #E1E7FF;
    padding: calc(100vw*16/390);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    font-size: 16px;
    flex: 1;
    padding: calc(100vw*16/390);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*врачи заголовки*/

.title {
    
}

.doctors-breadcrumbs {
    display: flex;
    align-items: center;
    gap: 6px;
}

.doctors-breadcrumbs-item {
    font: 1em/1 "Involve-Medium";
    text-decoration: none;
    color: #0A031A;
}

.doctors-breadcrumbs-separator {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #3556D7;
}

/*о клинике*/

.about-home {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-img {
    height: calc(100vw*255/390);
    background: url(../public/images/clinic-home.png) center/cover;
    border-radius: 40px;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font: 0.875em/1.25 "Involve-Medium";
}

/*преимущества*/

.advantages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    text-align: center;
}

.advantages-img {
    height: 55px;
}

.advantages-title {
    font: 1.125em/2 "Involve-Bold";
    color: #3659E1;
}

.advantages-text {
    font: 1em/1.25 "Involve-Medium";
}

/*Блок записи*/

.sign-up-bunner {
    padding: calc(100vw*18/390);
    display: flex;
    flex-direction: column;
    gap: calc(100vw*20/390);
    background-color: #E1E7FF;
    border-radius: calc(100vw*40/390);
}

.sign-up-info {
    display: flex;
    flex-direction: column;
    gap: calc(100vw*10/390);
    text-align: center;
}

.sign-up-name {
    font: 1.375em/1.07 "Involve-Bold";
    color: #3556D7;
}

.sign-up-text {
    font: 0.625em/1.25 "Involve-Regular";
}

.sign-up-form {
    height: calc(100vw*246/390);
    background-color: #FFFFFF;
    padding: calc(100vw*24/390);
    display: flex;
    flex-direction: column;
    gap: calc(100vw*12/390);
    border-radius: calc(100vw*40/390);
}

.input-sign-up-form {
    font-family: "Involve-Medium";
    height: calc(100vw*44/390);
    background-color: #E1E7FF;
    border-radius: calc(100vw*44/390);
    padding-left: calc(100vw*20/390);
}

.input-sign-up-form::placeholder {
    color: #0A031A;
}

.input-sign-up-form-btn {
    font-family: "Involve-Medium";
    height: calc(100vw*44/390);
    background-color: #3556D7;
    color: #FFFFFF;
    border-radius: calc(100vw*44/390);
}

.sign-up-form-text {
    font: 0.6875em/1.25 "Involve-Regular";
    text-align: center;
}

#personal-data {
    text-decoration: underline;
    color: #3556D7;
}

/*слайдер с фотографиями клиники*/

.reviews-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-slide {
    height: calc(100vw*216/390);
    width: 100%;
    border-radius: calc(100vw*30/390);
    background: url(../public/images/clinic-slider/clinic-slid-4.png) center/cover;
}

.slide-marker {
    width: 30%;
    margin-top: calc(100vw*14/390);
    display: flex;
    justify-content: space-between;
}

.button-radio-active {
    background-color: #3556D7;
    width: calc(100vw*31/390);
    height: calc(100vw*10/390);
    border-radius: calc(100vw*10/390);
  }

.button-radio {
    background: #3556D780;
    width: calc(100vw*10/390);
    height: calc(100vw*10/390);
    border-radius: 50%;
}

/*footer*/

footer {
    margin-top: calc(100vw*20/390);
    height: calc(100vw*400/390);
    background-color: #EDF0FC;
    color: #3556D7;
    display: flex;
    flex-direction: column;
    gap: calc(100vw*20/390);
}

.logo-footer {
    margin-top: calc(100vw*12/390);
}

.footer-nav-block {
    display: flex;
    flex-direction: column;
    gap: calc(100vw*14/390);
}

.footer-nav-block-name {
    font: 1.125em/1 "Involve-SemiBold";
}

.footer-nav-block-text {
    display: flex;
    flex-wrap: wrap;
    gap: calc(100vw*14/390) 0;
}

.footer-nav-block-item {
    width: 50%;
    font: 1em/1 "Involve-Medium";
}

.footer-nav-block-item-bottom {
    width: 100%;
    font: 1em/1 "Involve-Medium";
}





















@font-face {
    font-family: "Involve-Regular";
    src:
        url("../public/fonts/Involve/OTF/Involve-Regular.otf"),
        url("../public/fonts/Involve/TTF/Involve-Regular.ttf");
        font-style: normal; 
        font-weight: normal;
  }

@font-face {
    font-family: "Involve-Medium";
    src:
        url("../public/fonts/Involve/OTF/Involve-Medium.otf"),
        url("../public/fonts/Involve/TTF/Involve-Medium.ttf");
        font-style: normal; 
        font-weight: normal;
  }

@font-face {
    font-family: "Involve-SemiBold";
    src:
        url("../public/fonts/Involve/OTF/Involve-SemiBold.otf"),
        url("../public/fonts/Involve/TTF/Involve-SemiBold.ttf");
        font-style: normal; 
        font-weight: normal;
}

@font-face {
    font-family: "Involve-Bold";
    src:
        url("../public/fonts/Involve/OTF/Involve-Bold.otf"),
        url("../public/fonts/Involve/TTF/Involve-Bold.ttf");
        font-style: normal; 
        font-weight: normal;
  }