/*первый блок первой страницы*/

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(14px, 14px + 58 * var(--adaptive), 72px);
    text-align: center;
  }
  
  .home-name {
    line-height: clamp(137%, 137% + 33 * var(--adaptive), 150%);
  }
  
  .span-home-name-uppercase {
    font: clamp(22px, calc(22px + 26 * var(--adaptive)), 48px)/1.37 "Involve-Bold";
    text-transform: uppercase;
    color: #3659E1;
  }
  
  .home-oferta {
  
  }
  
  .void {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: clamp(14px, 14px + 10 * var(--adaptive), 24px);
  }
  
  .span-bold {
    font-family: "Involve-Bold";
  }
  
  .home-dantist {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    border-radius: clamp(40px, 40px + 20 * ((100vw - 390px) / (1440 - 390)), 60px);
    overflow: hidden;
  }
  
  .home-dantist::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1440px;
    border-radius: clamp(40px, 40px + 20 * ((100vw - 390px) / (1440 - 390)), 60px);
    z-index: -1;
    background-color: #EDF0FC;
    height: clamp(174px, 174px + 164 * var(--adaptive), 338px);
  }
  
  .home-dantist-img {
    width: clamp(275px, 275px + 260 * var(--adaptive), 535px);
    height: auto;
  }
  
  .home-info-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: clamp(14px, calc(14px + 26 * var(--adaptive)), 40px);
  }
  
  .home-sign-up {
    height: clamp(48px, 48px + 16 * var(--adaptive), 64px);
    flex: 1 1 100%;
    font: clamp(18px, calc(18px + 6 * var(--adaptive)), 24px) / 1 "Involve-Regular";
  }
  
  .home-info-item {
    height: clamp(58px, calc(58px + 54 * var(--adaptive)) ,112px);
    border-radius: 40px;
    background-color: #E1E7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, calc(8px + 8 * var(--adaptive)), 16px);
    flex: 1 1 40%;
  }
  
  .home-info-item-number {
    font: clamp(28px, calc(28px + 20 * var(--adaptive)), 48px) / 1 "Involve-Bold";
    text-align: center;
    text-transform: uppercase;
    color: var(--blue);
  }
  
  .home-info-item-text {
    font-family: "Involve-Medium";
    font-weight: 500;
    font-size: clamp(14px, 14px + 10 * var(--adaptive), 24px);
    line-height: 97%;
    text-align: start;
    color: var(--blue);
  }
  
  @media screen and (min-width: 768px) {
  
    .home {
        position: relative;
        text-align: start;
        align-items: flex-start;
    }
  
    .void {
        align-items: flex-start;
        width: 100%;
        height: clamp(174px, 174px + 164 * var(--adaptive), 338px);
        padding: clamp(0px, 0px + 48 * var(--adaptive), 48px) 0;
    }
  
    .home-oferta {
        padding-left: clamp(0px, calc(0px + 48 * var(--adaptive)), 48px);
    }
  
    .home-dantist {
        position: absolute;
        z-index: -1;
        justify-content: flex-end;
        padding-right: clamp(0px, calc(0px + 43 * var(--adaptive)), 43px);
        top: 0%;
    }
  
    .home-info-group {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        width: 80%;
        padding-left: clamp(0px, calc(0px + 48 * var(--adaptive)), 48px);
    }
  
    .home-sign-up,
    .home-info-item {
      flex: 1 1 0;
      width: auto;
    }

    .home-info-item {
      background-color: #FFFFFF;
    }
  
  }