.account {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, calc(20px + 26 * var(--adaptive)), 46px);
}

.account-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

.name {
    font: clamp(20px, calc(20px + 12 * var(--adaptive)), 32px) / 1.37 "Involve-Medium";
}

.text {
    font: clamp(16px, calc(16px + 4 * var(--adaptive)), 20px) / 1.37 "Involve-Regular";
}
  
@media screen and (min-width: 768px) {
    .account {
        flex-direction: row;
    }

    .account-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .doctor-info {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }
}